<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Books list</title>
</head>

<body>

<div class="container">

    <div class="d-flex justify-content-between mt-3">
        <h3>Books list</h3>
        <form action="/logout" method="post" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
    </div>
    <hr>

    <a th:href="@{/books/addBook}"
       class="btn btn-primary btn-sm mb-3">Add Book</a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempBook : ${books}">

            <td th:text="${tempBook.title}" />
            <td th:text="${tempBook.author}"/>
            <td th:text="${tempBook.isbn}" />
            <td th:text="${tempBook.price}" />
            <td><a th:href="@{/books/updateForm(bookId=${tempBook.id})}"
                   class="btn btn-info btn-sm">
                Update</a>
                <a th:href="@{/books/delete(bookId=${tempBook.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this book?'))) return false">
                    Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/books/search_by_title}" class="btn btn-primary">
        <span class="glyphicon glyphicon-home"></span>
        Search books by title
    </a>
</div>

</body>
</html>



